@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: Signika, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}